<h2 class="post-title"><%= link_to_unless_current(post.title, post_path(post)) %></h2>
<div class="post-body">
     <a target="_blank" href="<%= post.link %>">Click Me</a>
 </div>
 <h4 class="post-date">Written <%= time_ago_in_words(post.created_at) %> ago
 by <%= post.user.first_name%></h4>
